@import "tailwindcss";

@font-face {
  font-family: 'TTRamillas';
  src: url('/fonts/TTRamillas-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTRamillas';
  src: url('/fonts/TTRamillas-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTRamillas';
  src: url('/fonts/TTRamillas-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


:root {
  --color-dark: #171614;
  --color-magenta: #943D6D;
  --color-pink: #E06C88;
  --color-green: #C4D6B0;
  --color-beige: #FFF8F0;
  --color-white: #FFFFFF;

  --primary-color: #541d47;
  --secondary-color: #91375C;
  --background: var(--color-magenta);
  --foreground: var(--color-beige);
  --font-sans: var(--font-ttramillas);
  --font-mono: var(--font-ttramillas);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ttramillas);
  --font-mono: var(--font-ttramillas);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-magenta);
    --foreground: var(--color-beige);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ttramillas), Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.colorPink {
  color: var(--color-pink);
}

.colorGreen {
  color: var(--color-green);
}

.mainContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.mainText {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 18px;
}

.mainTextLarge {
  font-size: 40px;
  line-height: 1;
}

.scalable {
  transition: transform 150ms;
}

.scalable:hover {
  transform: scale(1.2);
}

.backgroundStripeTop {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.backgroundStripeBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media (min-width: 1025px) {
  .mainTextLarge {
    font-size: 72px;
  }
}

@media (min-width: 640px and max-width: 1024px) {
  .mainTextLarge {
    font-size: 54px;
  }
}

@media (min-width: 640px) {
  body {
    font-size: 16px;
  }

  .logoContainer {
    position: absolute;
    top:60px;
    left: 60px;
  }

  .logoContainer svg {
    height: 120px;
  }

  .mobileContentNeSapunica {
    display: none;
  }

  .contentNeSapunica {
    position: absolute;
    bottom: 60px;
    right: 60px;
    font-size: 48px;
  }
}

@media (max-width: 639px) {
  .logoContainer {
    margin-bottom: 40px;
  }

  .contentNeSapunica {
    display: none;
  }

  .mobileContentNeSapunica {
    font-size: 30px;
  }

  .backgroundStripeBottom {
    display: none;
  }

  .companyInfo {
    border-top: 1px solid var(--color-pink);
    padding-top: 48px;
  }
}

@media (max-width: 430px) {
  .mainTextLarge {
    font-size: 32px;
  }

  .mobileContentNeSapunica {
    font-size: 24px;
  }
}
