@import "tailwindcss";

@font-face {
  font-family: 'TTRamillas';
  src: url('/fonts/TTRamillas-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTRamillas';
  src: url('/fonts/TTRamillas-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTRamillas';
  src: url('/fonts/TTRamillas-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTRamillas';
  src: url('/fonts/TTRamillas-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

:root {
  --color-dark: #171614;
  --color-magenta-dark: #250F1B;
  --color-magenta: #943D6D;
  --color-magenta-20opacity: rgba(148, 61, 109, 0.2);
  --color-magenta-40opacity: rgba(148, 61, 109, 0.4);
  --color-pink: #E06C88;
  --color-green: #C4D6B0;
  --color-beige: #FFF8F0;
  --color-white: #FFFFFF;
}

@theme inline {
  --color-bg-body: var(--color-magenta-dark);
  --color-bg-box-1: var(--color-magenta);
  --color-bg-box-2: var(--color-magenta-40opacity);
  --color-text-1: var(--color-white);
  --color-text-2: var(--color-beige);
  --color-text-3: var(--color-green);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --color-bg-body: var(--color-magenta-dark);
    --color-bg-box-1: var(--color-magenta-20opacity);
    --color-bg-box-2: var(--color-magenta-40opacity);
    --color-bg-3: var(--color-magenta-40opacity);
    --color-text-1: var(--color-beige);
    --color-text-2: var(--color-pink);
    --color-text-3: var(--color-green);
  }
}

[data-theme="dark"] {
  --color-bg-body: var(--color-magenta-dark);
  --color-bg-box-1: var(--color-magenta-20opacity);
  --color-bg-box-2: var(--color-magenta-40opacity);
  --color-text-1: var(--color-beige);
  --color-text-2: var(--color-pink);
  --color-text-3: var(--color-green);
}

[data-theme="light"] {
  --color-bg-body: var(--color-beige);
  --color-bg-box-1: var(--color-magenta-green);
  --color-bg-box-2: var(--color-magenta-green);
  --color-text-1: var(--color-dark);
  --color-text-2: var(--color-magenta);
  --color-text-3: var(--color-pink);
}

body {
  background: var(--color-bg-body);
  color: var(--color-text-1);
  font-family: var(--font-ttramillas), Arial, Helvetica, sans-serif;
  font-size: 16px;
  transition: background 0.2s ease, color 0.2s ease;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 2.8rem;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 2.4rem;
}

@media (min-width: 640px) {
  body {
    font-size: 16px;
  }
}
