@import "tailwindcss";
@import "../core/custom-media.css";

:root {
  --color-dark: #171614;
  --color-magenta-dark: #250F1B;
  --color-magenta: #943D6D;
  --color-magenta-20opacity: rgba(148, 61, 109, 0.6);
  --color-magenta-40opacity: rgba(148, 61, 109, 0.6);
  --color-pink: #E06C88;
  --color-green: #C4D6B0;
  --color-green-20opacity: rgba(196, 214, 176, 0.2);
  --color-beige: #FFF8F0;
  --color-white: #FFFFFF;
  --bp-mobile: 639px;
  --bp-tablet: 1023px;
}

@theme inline {
  --color-bg-body: var(--color-magenta-dark);
  --color-bg-body: var(--color-magenta-dark);
  --color-bg-box-1: var(--color-magenta);
  --color-bg-box-2: var(--color-magenta-40opacity);
  --color-text-1: var(--color-white);
  --color-text-2: var(--color-beige);
  --color-text-3: var(--color-green);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --color-bg-body: var(--color-magenta-dark);
    --color-bg-box-1: var(--color-magenta-20opacity);
    --color-bg-box-2: var(--color-magenta-40opacity);
    --color-bg-3: var(--color-magenta-40opacity);
    --color-text-1: var(--color-beige);
    --color-text-2: var(--color-pink);
    --color-text-3: var(--color-green);
  }
}

[data-theme="dark"] {
  --color-bg-body: var(--color-magenta-dark);
  --color-bg-box-1: var(--color-magenta-20opacity);
  --color-bg-box-2: var(--color-magenta-40opacity);
  --color-text-1: var(--color-beige);
  --color-text-2: var(--color-pink);
  --color-text-3: var(--color-green);
}

[data-theme="light"] {
  --color-bg-body: var(--color-beige);
  --color-bg-box-1: var(--color-white);
  --color-bg-box-2: var(--color-green-20opacity);
  --color-text-1: var(--color-dark);
  --color-text-2: var(--color-magenta);
  --color-text-3: var(--color-pink);
}

html {
  font-size: 17px;
}

body {
  background: var(--color-bg-body);
  color: var(--color-text-1);
  font-family: var(--font-ttramillas), Arial, Helvetica, sans-serif;
  transition: background 0.2s ease, color 0.2s ease;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

@media (--mobile-tablet) {
  h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
}

@media (--mobile) {
  h1 {
    font-size: 2.8rem;
    margin-bottom: 2.8rem;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 2.8rem;
}

@media (--mobile-tablet) {
  h2 {
    font-size: 2.8rem;
    margin-bottom: 2.4rem;
  }
}

@media (--mobile) {
  h2 {
    font-size: 2rem;
    margin-bottom: 2.2rem;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 2.4rem;
}

@media (--mobile-tablet) {
  h3 {
    font-size: 1.9rem;
    margin-bottom: 2rem;
  }
}

@media (--mobile) {
  h3 {
    font-size: 1.6rem;
    margin-bottom: 1.8rem;
  }
}

h4 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 2rem;
}

@media (--mobile-tablet) {
  h4 {
    margin-bottom: 1.8rem;
  }
}

@media (--mobile) {
  h4 {
    font-size: 1.4rem;
    margin-bottom: 1.8rem;
  }
}

h5 {
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 1rem;
}

sub {
  opacity: 0.8;
}

a {
  color: var(--color-text-2);

  &:hover {
    text-decoration: underline;
  }
}

.hovered-text {
  color: var(--color-text-2);
}

.font-outline {
  font-family: var(--font-ttramillasoutline), Arial, Helvetica, sans-serif;
}

.bg-pattern {
  background-image: url("/bg-circles-pattern-1.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: 240px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.03;
}

@media (max-width: 639px) {
  .bg-pattern {
    background-size: 120px;
  }
}

[data-theme="light"] .bg-pattern {
  opacity: 0.02;
}

.divider {
  height: 2px;
  background-color: var(--color-bg-box-2);
  flex: 1;
}

[data-theme="light"] .divider {
  background-color: var(--color-text-3);
  opacity: 0.4;
}
