@import "../core/custom-media.css";

.mainContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.mainText {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 16px;
}

.mainTextLarge {
  font-size: 40px;
  line-height: 1;
}

.socialLinks svg {
  height: 60px;
}

.scalable {
  transition: transform 150ms;
}

.scalable:hover {
  transform: scale(1.2);
}

.backgroundStripeTop {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.backgroundStripeBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media (--desktop) {
  .mainTextLarge {
    font-size: 60px;
  }
}

@media (--tablet) {
  .mainTextLarge {
    font-size: 54px;
  }
}

@media (--tablet-desktop) {
  .logoContainer {
    position: absolute;
    top:60px;
    left: 60px;
  }

  .socialLinks {
    gap: 48px;
  }

  .logoContainer svg {
    height: 120px;
  }

  .mobileContentNeSapunica {
    display: none;
  }

  .contentNeSapunica {
    position: absolute;
    bottom: 60px;
    right: 60px;
    font-size: 36px;
  }
}

@media (--mobile) {
  .logoContainer {
    margin-bottom: 40px;
  }

  .logoContainer svg {
    height: 90px;
  }

  .socialLinks {
    gap: 40px;
  }

  .contentNeSapunica {
    display: none;
  }

  .mobileContentNeSapunica {
    font-size: 30px;
  }

  .backgroundStripeBottom {
    display: none;
  }

  .companyInfo {
    border-top: 1px solid var(--color-pink);
    padding-top: 48px;
  }
}

@media (--mobile-small) {
  .mainTextLarge {
    font-size: 32px;
  }

  .mobileContentNeSapunica {
    font-size: 24px;
  }
}

.companyInfo {
  line-height: 2;
}

.colorPink {
  color: var(--color-pink);
}

.colorGreen {
  color: var(--color-green);
}
