@import "../core/custom-media.css";

.companySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.companySectionImage {
  position: relative;
  width: 100%;
  max-width: 1300px;
  aspect-ratio: 1300 / 886;
  background-image: url("/about-mare-anja.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  margin-bottom: 48px;
}

.companySectionText {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  width: 100%;
}

.companySectionTextParagraph {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 300;
}

.companySectionTextParagraph ul {
  line-height: 1.2;
}

.companySectionTextParagraph sub {
  opacity: 0.7;
  font-size: 0.9rem;
}

.profileSection {
  display: flex;
  flex-direction: row;
  gap: 72px;
  margin: 72px 0 0 0;
  max-width: 1300px;
  width: 100%;
  align-items: flex-start;
}

.profileSection.reverse {
  flex-direction: row-reverse;
}

@media (--tablet) {
  .profileSection {
    flex-direction: column;
    gap: 32px;
  }

  .profileSection.reverse {
    flex-direction: column;
  }
}

@media (--mobile) {
  .profileSection {
    gap: 24px;
  }
}

.profileSectionImage {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  flex: 1;
}

.profileSectionText {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profileSectionTextHeading {
  margin-bottom: 1rem;
  color: var(--color-text-2);
}

.profileSectionTextHeadingSubtitle {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 24px;
}

.profileSectionTextParagraph {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 300;
}
