@import "../core/custom-media.css";

.companySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
}

.companySectionImage {
  position: relative;
  width: 100%;
  aspect-ratio: 1300 / 1300;
  background-image: url("/about-mare-anja.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  margin-bottom: 48px;
}

@media (--mobile) {
  .companySectionImage {
    margin-bottom: 24px;
  }
}

.companySectionText {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text {
  font-weight: 500;
}

[data-theme="dark"] .text {
  font-weight: 300;
}

.subList {
  line-height: 1.2;
  opacity: 0.7;
}

.profileSection {
  display: flex;
  flex-direction: row;
  gap: 72px;
  margin: 72px 0 0 0;
  max-width: 1300px;
  width: 100%;
  align-items: flex-start;
}

.profileSection.reverse {
  flex-direction: row-reverse;
}

@media (--mobile-tablet) {
  .profileSection {
    flex-direction: column;
    gap: 32px;
  }

  .profileSection.reverse {
    flex-direction: column;
  }
}

@media (--mobile) {
  .profileSection {
    gap: 24px;
  }
}

.profileSectionImage {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  flex: 1;
}

.profileSectionText {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profileSectionTextHeading {
  margin-bottom: 0;
  color: var(--color-text-2);
}

.profileSectionTextHeadingSubtitle {
  opacity: 0.8;
  margin-bottom: 24px;
}
