@import "../core/custom-media.css";

.footer {
  width: 100%;
  /* border-top: 2px solid var(--color-bg-box-2); */
  padding: 72px 0;
  margin-top: 72px;
}

@media (--mobile) {
  .footer {
    padding: 48px 0;
    margin-top: 48px;
  }
}

.footerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  max-width: 640px;
  margin: 0 auto 48px auto;
}

@media (--mobile) {
  .footerGrid {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

.footerColumn {
  display: flex;
  flex-direction: column;
}

@media (--mobile) {
  .footerColumn {
    text-align: center;
  }
}

.footerColumn ul {
  margin-bottom: 1rem;
}

.footerColumn li {
  line-height: 1.6;
  font-weight: 300;
}

.footerBlooperText {
  text-align: center;
  color: var(--color-text-3);
}
