@import "../core/custom-media.css";

.header {
  display: flex;
  align-items: flex-start;
  padding: 48px;
  justify-content: space-between;
  top: 0;
  z-index: 100;
  background: var(--background);
  transition: background 0.2s ease, height 0.3s ease, padding 0.3s ease;
}

@media (--mobile) {
  .header {
    height: auto;
    padding: 24px 0;
  }
}

.logoContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
  pointer-events: none;
  z-index: 1;
}

@media (--mobile) {
  .logoContainer {
    justify-content: start;
  }
}

.logo {
  width: 206px;
  height: 128px;
}

@media (--mobile-tablet) {
  .logo {
    width: 206px;
    height: 128px;
  }
}

@media (--mobile) {
  .logo {
    width: 110px;
    height: 68px;
  }
}

.socialButtons {
  display: flex;
  align-items: center;
  gap: 32px;
}

@media (--mobile) {
  .socialButtons {
    gap: 16px;
  }
}

.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-1);
}

.socialButton:hover {
  transform: scale(1.05);
}
