@import "../core/custom-media.css";

.header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 48px;
  justify-content: space-between;
  /* position: sticky; */
  top: 0;
  z-index: 100;
  background: var(--background);
  transition: background 0.2s ease, height 0.3s ease, padding 0.3s ease;
}

@media (--mobile) {
  .header {
    height: auto;
    padding: 24px 0;
  }
}

.header.isScrolled {
  height: 100px;
  padding: 24px;
}

.themeToggleContainer {
  width: 82px;
}

@media (--mobile) {
  .themeToggleContainer {
    width: 66px;
  }
}

.themeToggleButton {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--color-bg-box-1);
  border: none;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 16px rgba(178,57,225,0.10);
  transition: transform 0.2s ease;
}

.themeToggleButton:hover {
  transform: scale(1.05);
}

.logoContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 1;
}

.logo {
  width: 310px;
  height: 192px;
}

@media (--mobile-tablet) {
  .logo {
    width: 206;
    height: 128px;
  }
}

@media (--mobile) {
  .logo {
    width: 110px;
    height: 68px;
  }
}

.socialButtons {
  display: flex;
  align-items: center;
  gap: 32px;
}

@media (--mobile) {
  .socialButtons {
    gap: 16px;
  }
}

.socialButton {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-1);
}

.socialButton:hover {
  transform: scale(1.05);
}
