@import "../core/custom-media.css";

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 72px 0 288px;
}

@media (--mobile) {
  .headline {
    margin: 72px 0 144px;
  }
}

.heroImage {
  aspect-ratio: 2000 / 1580;
  background-image: url("/hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  position: relative;
  z-index: -1;
}

@media (--mobile) {
  .heroImage {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    border-radius: 0;
  }
}

.heroImageExtension {
  position: absolute;
  left: 0;
  right: 0;
  top: 9%;
  transform: translateY(-100%);
  animation: infinityFloat 12s linear infinite;
}

@keyframes infinityFloat {
  0% {
    transform: translateY(-100%) translate(0px, 0px) rotate(0deg);
  }
  12.5% {
    transform: translateY(-100%) translate(5px, -3px) rotate(0.3deg);
  }
  25% {
    transform: translateY(-100%) translate(8px, 0px) rotate(0deg);
  }
  37.5% {
    transform: translateY(-100%) translate(5px, 3px) rotate(-0.3deg);
  }
  50% {
    transform: translateY(-100%) translate(0px, 0px) rotate(0deg);
  }
  62.5% {
    transform: translateY(-100%) translate(-5px, -3px) rotate(-0.3deg);
  }
  75% {
    transform: translateY(-100%) translate(-8px, 0px) rotate(0deg);
  }
  87.5% {
    transform: translateY(-100%) translate(-5px, 3px) rotate(0.3deg);
  }
  100% {
    transform: translateY(-100%) translate(0px, 0px) rotate(0deg);
  }
}
