@import "../core/custom-media.css";

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 72px 0 144px;
}

.heroImage {
  aspect-ratio: 2000 / 1580;
  background-image: url("/hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  position: relative;
  z-index: -1;
}

@media (--mobile) {
  .heroImage {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    border-radius: 0;
  }
}

.heroImageExtension {
  position: absolute;
  left: 0;
  right: 0;
  top: 9%;
  transform: translateY(-100%);
}
