.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 72px 0;
}

.heroImage {
  aspect-ratio: 2000 / 1580;
  background-image: url("/fotke/zajednicka_papiri2-cropped.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}
