@import "../core/custom-media.css";

.quoteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 72px 0;
}

.quoteContent {
  position: relative;
  max-width: 650px;
  width: 100%;
  padding-left: 24px;
  text-align: center;
}

@media (--tablet) {
  .quoteContent {
    max-width: 550px;
  }
}

.quoteText {
  position: relative;
  display: inline-block;
  transform: rotate(2.5deg);
  color: var(--color-text-3);
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 300;
  max-width: 440px;
}

@media (--mobile) {
  .quoteText {
    font-size: 1.2rem;
  }
}

.quoteDropIcon {
  position: absolute;
  left: -28px;
  top: -30px;
  transform: rotate(-15deg);
  opacity: 0.6;
  pointer-events: none;
}
