@import "../core/custom-media.css";

.quoteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 72px 0;
}

.quoteContent {
  position: relative;
  max-width: 440px;
  width: 100%;
  text-align: center;
}

@media (--mobile-tablet) {
  .quoteContent {
    max-width: 550px;
  }
}

.quoteText {
  position: relative;
  display: inline-block;
  transform: rotate(2.5deg);
  color: var(--color-text-3);
  font-style: italic;
  max-width: 380px;
  font-weight: 300;
  font-size: 1.1rem;
}

.quoteDropIcon {
  position: absolute;
  left: -38px;
  top: -30px;
  transform: rotate(-15deg);
  opacity: 0.6;
  pointer-events: none;
  display: none;
}

.quoteDropIcon path {
  fill: var(--color-text-2);
}
