@import "../core/custom-media.css";

.section {
  margin: 108px 0;
  width: 100%;
}

@media (--mobile-tablet) {
  .section {
    margin: 72px 0;
  }
}

@media (--mobile) {
  .section {
    margin: 48px 0;
  }
}
