.boxesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

.box {
  background: var(--color-bg-box-1);
  border-radius: 16px;
  padding: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  color: var(--color-text-1);
  font-size: 18px;
  font-weight: 300;
  position: relative;
}

.box ul {
  list-style: inside;
  padding-left: 1.35em;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.box:nth-child(1) h3,
.box:nth-child(4) h3 {
  color: var(--color-text-2);
}

.box:nth-child(2) h3,
.box:nth-child(3) h3 {
  color: var(--color-text-3);
}

.dropCircle {
  position: absolute;
  bottom: -87px;
  right: -87px;
  transform: rotate(-15deg);
  opacity: 0.6;
  pointerEvents: none;
}

@media (max-width: 1024px) {
  .boxesGrid {
    grid-template-columns: 1fr;
  }

  .box {
    padding: 48px;
  }
}

@media (max-width: 640px) {
  .box {
    padding: 28px;
    font-size: 0.98rem;
  }
  .boxesGrid {
    gap: 18px;
  }
  .box h3 {
    font-size: 1.15rem;
  }
}
